/*******************/
/* Custom elements */
/*******************/

#mapdiv {
    height:350px;
    width: 100%;
}

.sponsor {
    margin-bottom: 20px;
}

.sponsor img, .thanks img  {
    width: 300px;
    height: 120px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.thanks {
    text-align: center;
}

.meetup-thumb {
    height: 50px;
    border: 1px solid #273747;
    float: left;
    margin: 0 3px 3px 0;
}

.twitter {
    color: #999999;
    font-size: 14px;
    margin-bottom: 5px;
}

.talk-info {
    font-size: 15px;
    line-height: 22px;
    margin: 20px 0 15px;
}

.talk-info div {
    display: inline;
    padding: 9px 12px 10px;
}

.talk-time {
    border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;

    border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;

    text-align: center;
    color: white;
    background-color: #1abc9c;
}

.talk-title {
    border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;

    border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;

    color: #273747;
    background-color: #eeeeee;
    margin-left: -3px;
}

.organizers img {
    border-radius: 10px;
}


/*******************/
/* Theme overrides */
/*******************/

.footer-banner a {
    text-decoration: none;
}

.demo-text-box a:hover {
    color: white;
}


