/*******************/
/* Custom elements */
/*******************/

#mapdiv {
    height:350px;
    width: 100%;
}

.sponsor {
    margin-bottom: 20px;
}

.sponsor img {
    width: 300px;
    height: 120px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*******************/
/* Theme overrides */
/*******************/

.footer-banner a {
    text-decoration: none;
}

.demo-text-box a:hover {
    color: white;
}
